@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = @Model.Heading;
}
<h2 style="margin-top: -15px; padding-bottom: 25px; ">@Model.Heading</h2>

<ul class="gigs">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">@gig.Date.ToString("MMM")</div>
                <div class="day">@gig.Date.ToString("d ")</div>
            </div>
            <div class="details"><span class="artist">shakhawat
                    

                        <button data-user-id="d7974529-a150-42a9-8a4c-25aa9a41f807" class="btn btn-default btn-sm pull-right js-toggle-follow">Follow</button>

                </span>
                <span class="genre">Jazz</span>
                    <button data-gig-id="10" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var button = $(e.target);
                $.post("/api/attendances", { "gigId": button.attr("data-gig-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Something Failed! ");
                    });
            });
        });
    </script>
    
<script>
        $(document).ready(function() {
            $(".js-toggle-follow").click(function(e) {
                var button = $(e.target);
                $.post("/api/followings", { "followeeId": button.attr("data-user-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-danger")
                            .text("Following");
                    })
                    .fail(function() {
                        alert("Something Failed! ");
                    });
            });
        });
</script>
}

